# Node modules
BACKEND/node_modules/
FRONTEND/node_modules/

# Environment files
BACKEND/.env

# Logs
*.log

# Vite build
FRONTEND/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/